# build directories
bin/
target/
local/

# Configuration/IDE
.*
!.gitignore
# - Intellij
*.ipr
# - NetBeans
nbproject/
*.iws
*.iml

# Test data
*.db
*.tlog
*.log

# things that don't exist here
/asciidoc/
/scratch-ws-*/
